@charset "UTF-8";

div.ccm-area{
  overflow: hidden;
  max-height: 100%;
}

img { max-width: 100%; height: auto; }

.primaryContainer article, .primaryContainer aside, .primaryContainer details, .primaryContainer figcaption, .primaryContainer figure, .primaryContainer footer, .primaryContainer header, .primaryContainer hgroup, .primaryContainer nav, .primaryContainer section {
  display: block;
}
.primaryContainer audio, .primaryContainer canvas, .primaryContainer video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.primaryContainer audio:not([controls]) {
  display: none;
}
.primaryContainer [hidden] {
  display: none;
}
.primaryContainer html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 100%;
  line-height: 1.231;
}
.primaryContainer body, .primaryContainer button, .primaryContainer input, .primaryContainer select, .primaryContainer textarea {
  font-family: helvetica, arial,"lucida grande", verdana, "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
  color: #222;
}

.dotted-link{
  height: 100%;
  
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family:'Avenir Next LT W01 Demi';
}

dotted-link:hover{
  border-bottom: 2px dotted white;
}

.primaryContainer ::selection {
  text-shadow: none;
  background-color: highlight;
  color: highlighttext;
}
.primaryContainer a {
  color: #00e;
}
.primaryContainer a:visited {
  color: #551a8b;
}
.primaryContainer a:hover {
  color: #06e;
}
.primaryContainer a:focus {
  outline: thin dotted;
}
.primaryContainer a:hover, .primaryContainer a:active {
  outline: 0;
}
.primaryContainer abbr[title] {
  border-bottom: 1px dotted;
}
.primaryContainer b, .primaryContainer strong {
  
}
.primaryContainer blockquote {
  margin: 1em 40px;
}
.primaryContainer dfn {
  font-style: italic;
}
.primaryContainer hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.primaryContainer ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
.primaryContainer mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  
}
.primaryContainer pre, .primaryContainer code, .primaryContainer kbd, .primaryContainer samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
.primaryContainer pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.primaryContainer q {
  quotes: none;
}
.primaryContainer q:before, .primaryContainer q:after {
  content: "";
  content: none;
}
.primaryContainer small {
  font-size: 85%;
}
.primaryContainer sub, .primaryContainer sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.primaryContainer sup {
  top: -0.5em;
}
.primaryContainer sub {
  bottom: -0.25em;
}
.primaryContainer h1 {
  font-size: 2.8em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 1.2;
  margin-left: 0%;
  margin-top: 25px;
  clear: both;
  min-height: 0px;
  color: #555555;
  font-family:'ITC Caslon_224 W01 Bold';
  margin-bottom: 14px;
}
.primaryContainer h1 a:hover {
  text-decoration: underline;
}
.primaryContainer h2 {
  font-size: 1.8em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 1.2;
  margin-left: 0%;
  margin-top: 10px;
  clear: both;
  min-height: 0px;
  color: #660000;
  font-family:'ITC Caslon_224 W01 Bold';
  margin-bottom: 14px;
}
.primaryContainer h3 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1em;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #012639;
  font-family:'Avenir Next LT W01 Bold';
}
.primaryContainer p {
  font-size: 1em;
  
  line-height: 26px;
  font-family:'ITC Caslon_224 W01 Book';
  margin-bottom: 14px;
}
.primaryContainer ul, .primaryContainer ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
.primaryContainer dd {
  margin: 0 0 0 40px;
}
.primaryContainer nav ul, .primaryContainer nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.primaryContainer img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
.primaryContainer svg:not(:root) {
  overflow: hidden;
}
.primaryContainer figure {
  margin: 0;
}
.primaryContainer form {
  margin: 0;
}
.primaryContainer fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.primaryContainer label {
  cursor: pointer;
}
.primaryContainer legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}
.primaryContainer button, .primaryContainer input, .primaryContainer select, .primaryContainer textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
.primaryContainer button, .primaryContainer input {
  line-height: normal;
}
.primaryContainer button, .primaryContainer input[type="button"], .primaryContainer input[type="reset"], .primaryContainer input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
.primaryContainer input[type="checkbox"], .primaryContainer input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.primaryContainer input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.primaryContainer input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.primaryContainer button::-moz-focus-inner, .primaryContainer input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.primaryContainer textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
.primaryContainer input:invalid, .primaryContainer textarea:invalid {
  background-color: #f0dddd;
}
.primaryContainer table {
  border-collapse: collapse;
  border-spacing: 0;
}
.primaryContainer td {
  vertical-align: top;
}
@media only screen and (min-width: 480px) {
  .primaryContainer {
    /* Style adjustments for viewports 480px and over go here */
  }
}
@media only screen and (min-width: 768px) {
  .primaryContainer {
    /* Style adjustments for viewports 768px and over go here */
  }
}
.primaryContainer .ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.primaryContainer .ir br {
  display: none;
}
.primaryContainer .hidden {
  display: none !important;
  visibility: hidden;
}
.primaryContainer .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.primaryContainer .visuallyhidden.focusable:active, .primaryContainer .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.primaryContainer .invisible {
  visibility: hidden;
}
.primaryContainer .clearfix:before, .primaryContainer .clearfix:after {
  content: "";
  display: table;
}
.primaryContainer .clearfix:after {
  clear: both;
}
.primaryContainer .clearfix {
  *zoom: 1;
}
@media print {
  .primaryContainer {
    /* Black prints faster: h5bp.com/s */
    /* Don't show links for images, or javascript/internal links */
    /* h5bp.com/t */
  }
  .primaryContainer * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  .primaryContainer a, .primaryContainer a:visited {
    text-decoration: underline;
  }
  .primaryContainer a[href]:after {
    content: " (" attr(href) ")";
  }
  .primaryContainer abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .primaryContainer .ir a:after, .primaryContainer a[href^="javascript:"]:after, .primaryContainer a[href^="#"]:after {
    content: "";
  }
  .primaryContainer pre, .primaryContainer blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  .primaryContainer table {
    display: table-header-group;
  }
  .primaryContainer tr, .primaryContainer img {
    page-break-inside: avoid;
  }
  .primaryContainer img {
    max-width: 100% !important;
  }
  @page {
    .primaryContainer {
      margin: 0.5cm;
    }
  }
  .primaryContainer p, .primaryContainer h2, .primaryContainer h3 {
    orphans: 3;
    widows: 3;
  }
  .primaryContainer h2, .primaryContainer h3 {
    page-break-after: avoid;
  }
}
.primaryContainer p {
  margin: 0;
}
.primaryContainer html {
  overflow-y: auto;
  background-color: transparent;
  height: 100%;
}
.primaryContainer body {
  background: #fff;
  font: normal 100%;
  height: 100%;
}
.primaryContainer body, .primaryContainer div, .primaryContainer img, .primaryContainer p, .primaryContainer button, .primaryContainer input, .primaryContainer select, .primaryContainer textarea, .primaryContainer a {
  box-sizing: border-box;
}
.primaryContainer .image {
  display: block;
}
.primaryContainer .img-responsive {
  max-width: 100%;
}
.primaryContainer input {
  cursor: default;
  display: block;
}
.primaryContainer input[type=button] {
  background-color: #e5e9e8;
  border: 1px solid #9daca9;
  border-radius: 4px;
  box-shadow: inset 0 1px #fff;
  font: inherit;
  letter-spacing: inherit;
  text-indent: inherit;
  color: inherit;
}
.primaryContainer input[type=button]:hover {
  background-color: #eff1f1;
}
.primaryContainer input[type=button]:active {
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
}
.primaryContainer a, .primaryContainer a:visited, .primaryContainer a:hover, .primaryContainer a:active {
  color: inherit;
  text-decoration: inherit;
}
.primaryContainer #box {
  float: left;
  height: 120px;
  margin-left: 0%;
  margin-top: 1px;
  clear: none;
  width: 100%;
  min-width: 0px;
  position: relative;
}
.primaryContainer #box1 {
  float: left;
  height: 120px;
  clear: none;
  width: 225px;
  background-color: #620202;
  position: absolute;
  z-index: 1;
}
.primaryContainer #box2 {
  float: left;
  height: 60px;
  margin: 0px 0px 0px 0%;
  clear: none;
  width: auto;
  background-color: #012639;
  min-width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
}
.primaryContainer #box3 {
  float: right;
  height: 100%;
  margin-left: 0px;
  margin-top: 0px;
  clear: none;
  width: 217px;
  min-height: 0px;
  margin-right: 0%;
  background-color: #012639;
}
.primaryContainer #box5 {
  float: left;
  height: 60px;
  margin: 0px 0px 0px 0%;
  clear: none;
  width: auto;
  min-width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
  background-color: #012639;
}
.primaryContainer #frontpage-hero {
  float: left;
  height: 746px;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  width: 100%;
  background-image: url("img/img_0036_-_2012-01-19_at_00-13-52.jpg");
  background-attachment: scroll;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-position: 0% 0%;
  background-repeat: repeat repeat;
  z-index: 1;
  overflow: hidden;
}

.primaryContainer #frontpage-hero img{
  min-height: 100%;
}

.primaryContainer #frontpage-headline {
  min-height: 222px;
  margin-left: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
}
.primaryContainer #frontpage-headline p {
  float: left;
  font-size: 3.6em;
  width: 42.666917%;
  height: auto;
  text-align: left;
  
  line-height: 1em;
  margin-left: 7.331911%;
  margin-top: 30px;
  margin-bottom: 1em;
  clear: none;
  min-height: 156px;
  color: white;
  font-family:'Avenir Next LT W01 Demi';
}
.primaryContainer #left-column {
  float: left;
  height: 100%;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 77.813406%;
  min-height: 0px;
}
.primaryContainer #left-column .ccm-block-page-list-header h5 {
  font-size: 0.8em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 1em;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #012639;
  margin-right: 0%;
  font-family:'Avenir Next LT W01 Bold';
  display: block;
  font-weight: normal;
}
.primaryContainer #left-column .ccm-block-page-list-title {
  font-size: 2.8em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 52px;
  margin-left: 0%;
  margin-top: 25px;
  clear: both;
  min-height: 0px;
  color: #555555;
  font-family:'ITC Caslon_224 W01 Bold';
  margin-bottom: 14px;
}
.primaryContainer #left-column .ccm-block-page-list-description {
  font-size: 1em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 26px;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  min-height: 0px;
  font-family:'ITC Caslon_224 W01 Book';
  margin-bottom: 14px;
}
.primaryContainer #left-column .ccm-block-page-list-page-entry-read-more a {
  font-size: 1em;
  width: auto;
  height: auto;
  text-align: left;
  
  line-height: 1em;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  color: #660000;
  font-style: italic;
  margin-bottom: 22px;
  font-family:'ITCCaslon224W01-BoldIt';
}
.primaryContainer .text5 {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: 100.000009%;
  text-align: left;
  
  line-height: 60px;
  margin-left: 0.1137003%;
  margin-top: 0px;
  clear: none;
  min-height: 0px;
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  margin-right: 0%;
  background-color: #660000;
  font-family:'Avenir Next LT W01 Demi';
}
.primaryContainer #primary-nav {
  float: left;
  margin: 0 0 0 225px;
}
.primaryContainer #primary-nav ul {
  text-align: left;
}
.primaryContainer #primary-nav ul li {
  float: left;
  display: inline;
  line-height: 60px;
  padding: 0 25px;
}
.primaryContainer #primary-nav ul li a {
  font-size: 0.75em;
  height: 100%;
  
  color: white;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family:'Avenir Next LT W01 Bold';
}
.primaryContainer #primary-nav ul li a:hover {
  border-bottom: 2px dotted white;
}

